**Kun Shan University Computer Science Midterm Exam**

**Name 尤里卡 4110E212**

**4. Unpack a Collection:
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables**

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
What is the output of this code in Python?

(A) apple

(B) banana

(C) cherry

(D) ["apple", "banana", "cherry"]

In [1]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)

apple

**ANSWER :(A) apple**

**5. Which following is the correct way to create a dictionary in Python?**

(A) students = { 'name' => 'alice' ;  'score' =>60 }

(B) students = { 'name' = 'alice' ;  'score' =60 }

(C) students = { 'name' : 'alice' ;  'score' : 60 }

(D) students = { 'name' => 'alice' ,  'score' =>60 }

(E) students = { 'name' : 'alice' , 'score' : 60 }

In [2]:
students = { 'name' => 'alice' ;  'score' =>60 }

SyntaxError: ignored

In [3]:
students = { 'name' = 'alice' ;  'score' =60 }

SyntaxError: ignored

In [4]:
students = { 'name' : 'alice' ;  'score' : 60 }

SyntaxError: ignored

In [5]:
students = { 'name' => 'alice' ,  'score' =>60 }

SyntaxError: ignored

In [6]:
students = { 'name' : 'alice' , 'score' : 60 }

**The correct way to create a dictionary in Python
ANSWER : (E) students = { 'name' : 'alice' , 'score' : 60 }**

**6. What is the output of this code in Python?**
x = 5
y = "John"
print(x + y) 
(A) 5 John

(B) 5 + John

(C) John

(D) Python will give you an error

In [7]:
X = 5
Y = "John"
print(x + y)

applebanana

**ANSWER : (D) Python will give you an error**

**7. Which one of the following outputs is wrong?**
(A)13//5 output: 2.6

(B) 13/5 output: 2.6

(C)13%5 output:3

(D)y = int(2.8) output:2

In [8]:
13//5

2

In [9]:
13/5

2.6

In [10]:
13%5

3

In [11]:
y = int(2.8)

**ANSWER : (A)13//5 output: 2.6**

**8. What does the following Python program fragment do?**
s=0
for i in range (3,11) :
  s+=i
print (s)
(A) Calculate the sum of 1+2+…+10

(B) Calculate the sum of 1+4+7+10

(C) Calculate the sum of 3+4+5+6+…+9

(D) Calculate the sum of 3+4+5+6+…+10

(E) Calculate the sum of 0+2+4+6+…+10

In [12]:
s=0
for i in range (3,11) :
  s+=i
print (s)

52

**ANSWER : (D) Calculate the sum of 3+4+5+6+…+10**

**9. What is the output of this code in Python?**

In [13]:
a = "Hello, World!"
print(a[2:5]+ a[3:8])

llolo, W

llolo, W
(A) W llolo,

(B) llolo,Wo

(C) llolo, W

(D) llolo,Wor

a = "Hello, World!"
print(a[2:5]+ a[3:8])

**ANSWER : (C) llolo, W**

11. What is the output of this code in Python?
list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]
print (list [ 1 : ])
(A) [ ]

(B) [ 'b' ]

(C) [ 'a' , 'b' ]

In [14]:
list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]
print (list [ 1 : ])

[' b ', ' c ', ' d ', ' e ']

**ANSWER : (D) [ 'b' , 'c' , 'd' , 'e' ]**

**12. What is the output of this code in Python?**
L1 = [ ]
L1.append ( [1, [2, 3], 4] )
L1.extend ( [7, 8, 9] )
print(L1[0][1][1] + L1[2] )
(A) 3

(B) 8

(C) 11

(D) 38

(E) None of these

In [15]:
L1 = [ ]
L1.append ( [1, [2, 3], 4] )
L1.extend ( [7, 8, 9] )
print(L1[0][1][1] + L1[2] )

11

**ANSWER : (C) 11**

**13. Check if "free" is present in the following text**
txt = "The best things in life are free!"
print("free"______txt)
Which is the correct answer?

(A) on

(B) with

(C) at

(D) in

In [16]:
txt = "The best things in life are free!"
print("free" in txt)

True

**ANSWER : (D) in**

**14. Which of the following conditions correctly describes the output of this code in Python**?
first = [1 , 2 , 3 , 4 , 5]
second = first
second.append (6)
print (first)
print (second)
(A) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5, 6]

(B) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5]

(C) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5]

(D) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5, 6]

(E) None of these

In [17]:
first = [1 , 2 , 3 , 4 , 5]
second = first
second.append (6)
print (first)
print (second)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

**ANSWER : (D) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5, 6]**

**18. Which one of the codes will output**
['apple', 'orange', 'banana', 'cherry']  ?

mylist = ["apple", "banana", "cherry"]

print(mylist)
(A)mylist.append("orange")

(B)mylist.insert(0, "orange")

(C)mylist.insert(1, "orange")

(D)mylist.insert(2, "orange")

In [18]:
['apple', 'orange', 'banana', 'cherry']
mylist = ["apple", "banana", "cherry"]
mylist.insert(1, "orange")  
print(mylist)

['apple', 'orange', 'banana', 'cherry']

**ANSWER : (C)mylist.insert(1, "orange")**

**21. What is the output of this code in Python?**
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1
(A)

1

2

3

(B)

1

2

4

5

6

(C)

1

2

3

4

5

6

(D)

4

5

6

In [19]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

**ANSWER : (A) 1 2 3**

**22. What is the output of this code in Python?**
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)
(A)

1

2

3

(B)

1

2

4

5

6

(C)

1

2

3

4

5

6

(D)

4

5

6

In [20]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

**ANSWER : (B) 1 2 4 5 6**

**24. What is the output of this code in python?**
r = lambda q: q * 2
s = lambda q: q * 3
x = 2
x = r (x)
x = s (x)
x = r (x)
print (x)

(A) 2

(B) 4

(C) 6

(D) 12

(E) 24

In [21]:
r = lambda q: q * 2
s = lambda q: q * 3
x = 2
x = r (x)
x = s (x)
x = r (x)
print (x)

24

**ANSWER : (E) 24**

**25. A recursive function is defined as below:**
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
What Is The Last Line Of The Output When tri_recursion(6) is executed?

(A) 6

(B) 10

(C) 15

(D) 21

(E) 28

In [22]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion  Results")
tri_recursion(6)

Recursion  Results
1
3
6
10
15
21

21

**ANSWER : (D) 21**